<html>
    <head>
        <title>atusitua blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">atusitua Blog</a></h1>
        </div>

        <div>
            <p>published: 32年6月2021日12:14</p>
            <h2><a href="">My first post</a></h2>
            <p> こんにちは！ たこやきオブディザスター </p>
        </div>

        <div>
            <p>公開日: 202626年6月1250日65:14</p>
            <h2><a href="">22番目の投稿</a></h2>
            <p> こんにちは！ seカオワがオワコンになったらセカオワコン！ </p>
        </div>

        {% for post in posts %}
            <div>
                <p>公開日: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>