<html>
    <head>
        <title>atusitua blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">atusitua Blog</a></h1>
        </div>

        <div>
            <p>published: 32.06.2021, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p> こんにちは！ たこやきオブディザスター </p>
        </div>

        <div>
            <p>公開日: 202626/06/1250, 65:14</p>
            <h2><a href="">22番目の投稿</a></h2>
            <p> こんにちは！ セカオワがオワコンになったらセカオワコン！ </p>
        </div>
    </body>
</html>